m/*
Theme Name: SKT Full Width
Theme URI: http://www.sktthemes.net/themes/skt_full_width/
Author: SKT Themes
Author URI: http://www.sktthemes.net
Description: SKT Full Width as the name suggests is a full width wordpress theme. Often it is said images speak more than words and this is exactly how full width theme works. Get a nice website on top of nicely shot background images. Home page has customizable slider backgrounds with text optional. Logo, layout settings, social icons and contact details are easily customizeable in this Full Width Theme. This theme looks good on all devices and is responsive. Can be used by Photo bloggers, casual bloggers, portfolio, design studio, corporate sites as well. Demo link: http://sktthemes.net/demo/fullwidth/

Version: 1.3.8.1
License: GNU General Public License
License URI: license.txt
Text Domain: skt_full_width
Tags: black, custom-background, two-columns, right-sidebar, left-sidebar, responsive-layout, custom-menu, theme-options, threaded-comments, featured-images, photoblogging, custom-header, editor-style

SKT Full Width Wordpress Theme has been created by SKT Themes(sktthemes.net), 2014.
SKT Full Width Wordpress Theme is released under the terms of GNU GPL

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	 margin:0;
	 padding:0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #86c301;
	text-decoration: none;
	color:#000;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #86c301;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 6px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	line-height:22px;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}


/* =Widgets
----------------------------------------------- */

.widget {
	margin: 60px 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}


/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/* This is the Default Theme File.
*  Please do not edit this. To make any 
*  changes, please use the theme options panel.
*/ 

/*Comments Section*/
#comments {
	margin: 30px 0;
}
#comments > ul {
	padding-left: 0px;
	margin-left: 0px;
}
.comment {
	padding: 10px;
	border-bottom: solid 1px #ccc;
	border-left: solid 1px #ccc;
}
h2.comments-title {
	text-transform: uppercase;
	font:400 22px 'Roboto Condensed', Arial; 
	color:#eeeded;
}
ol.comment-list {
	margin-top: 15px;
	list-style: none;
	margin-left: 0px;
}
li.comment .comment,
li.comment .pingback,
li.comment .trackback {
	list-style-type: none;
	margin-bottom: 12px;
	padding-bottom: 12px;
}

li.comment > .comment:last-child {
	border-bottom: 0;
	margin-bottom: 30px;
	padding-bottom: 0;
}

li.comment .children {
	padding-left: 5px;
}

li.comment .avatar {
	background-color: #fff;
	border: solid 1px #eeeeee;
	padding: 4px;
	height: auto;
	width: 100%;
	max-width: 60px;
	margin-bottom: -10px;
}

li.comment .byuser .avatar {
	border-color: #ccc;
}

li.comment .byuser .comment-author-name {
	color: #ef4832;
}

li.comment .comment-author {
	display: inline;
	float: left;
	margin-right: 20px;
	width: 60px;
	text-align: center;
}

li.comment .comment-author-name {
	color: #252525;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	line-height: 18px;
	margin-bottom: 12px;
}

li.comment .comment-timestamp {
	color: #999;
	font-size: 10px;
	text-align: right;
}

li.comment .comment-bullet {
	color: #ccc;
	font-size: 11px;
	margin: 0 2px;
}

li.comment .comment-content {
	font-size: 14px;
	overflow: hidden;
	padding-top: 5px;
}

li.comment .comment-edit-link {
	font-size: 11px;
	text-decoration: none;
	margin-left: 15px;
	color: #000;
}


.comment-awaiting-moderation {
	color: #999;
	font-style: italic;
}

li.comment .reply {
	margin-top: 10px;
	text-transform: lowercase;
}

li.comment .comment-reply-link {
	font-size: 11px;
	padding: 4px 10px;
	margin-left: 5px;
	margin-top: -10px;
}

/* Comment form */
.comment-respond {
	background-color: #000;
	padding: 30px;
}
.comment .comment-respond {
	margin-bottom: 20px;
	padding: 20px;
}
.comment-reply-title {
	font: 300 italic 28px "Source Sans Pro", Helvetica, sans-serif;
}

.comment-reply-title small a {
	color: #131310;
	display: inline-block;
	float: right;
	
	overflow: hidden;
}
.comment-reply-title small a:hover {
	color: #ed331c;
	text-decoration: none;
}

.sidebar .comment-list .comment-reply-title,
.sidebar .comment-list .comment-respond .comment-form {
	padding: 0;
}

.comment-form .comment-notes {
	margin-bottom: 15px;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
	margin-bottom: 8px;
}

.comment-form [for="author"],
.comment-form [for="email"],
.comment-form [for="url"],
.comment-form [for="comment"] {
	float: left;
	padding: 5px 0;
	width: 120px;
}

.comment-form .required {
	color: #ed331c;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	max-width: 270px;
	width: 60%;
}

.comment-form textarea {
	width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
	color: #686758;
	font-size: 12px;
}

.form-allowed-tags code {
	font-size: 10px;
	margin-left: 3px;
}

.comment-list .pingback,
.comment-list .trackback {
	padding-top: 24px;
}

.comment-navigation {
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0 auto;
	max-width: 604px;
	padding: 20px 0 30px;
	width: 100%;
}

.no-comments {
	background-color: #f7f5e7;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 40px 0;
	text-align: center;
}
.sidebar .no-comments {
	padding-left: 60px;
	padding-right: 376px;
}

/*
body.custom-background{
	background-image: url('../skt-full-width/images/bg_contact.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
*/
#supersized {padding: 0px !important; margin: 0px !important;} 


.avatar{
	background: url('../skt-full-width/images/avatar-new.png') no-repeat 100% 100%;
	background-size: cover;
	position: absolute;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
			
	width: 310px;
	height: 500px;
	bottom: 5%;
	right: 37%;

}


.avatar:hover{
	background: url('../skt-full-width/images/avatar-new-reaction.png') no-repeat;
	background-size: cover;
	cursor: pointer;

}

.avatar.dance{
	-webkit-animation: dance .5s ease-out;
	-moz-animation: dance .5s ease-out;
	-o-animation: dance .5s ease-out;
	animation: dance .5s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes dance{
	from{background: url('../skt-full-width/images/avatar-new-dance-1.png') no-repeat; background-size: cover}
	to{background: url('../skt-full-width/images/avatar-new.png') no-repeat; background-size: cover}
}
@-moz-keyframes dance{
	from{background: url('../skt-full-width/images/avatar-new-dance-1.png') no-repeat; background-size: cover}
	to{background: url('../skt-full-width/images/avatar-new.png') no-repeat; background-size: cover}
}
@-o-keyframes dance{
	from{background: url('../skt-full-width/images/avatar-new-dance-1.png') no-repeat; background-size: cover}
	to{background: url('../skt-full-width/images/avatar-new.png') no-repeat; background-size: cover}
}
@keyframes dance{
	from{background: url('../skt-full-width/images/avatar-new-dance-1.png') no-repeat; background-size: cover}
	to{background: url('../skt-full-width/images/avatar-new.png') no-repeat; background-size: cover}
}

.stereo {
	width: 165px;
	height: 121px;
	left: 5%;
	bottom: 5%;
	position: absolute;

	background: url('../skt-full-width/images/stereo.svg') no-repeat 100% 100%;
	background-size: cover;

	z-index: 3;

}

.stereo:hover {

	cursor: pointer;
}

.stereo.speakerpulsate {
	-webkit-animation: spulsate .6s ease-out;
	   -moz-animation: spulsate .6s ease-out;
	     -o-animation: spulsate .6s ease-out;
	        animation: spulsate .6s ease-out;
	-webkit-animation-iteration-count: infinite;
	   -moz-animation-iteration-count: infinite;
	     -o-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;	
}

@-webkit-keyframes spulsate{
	0%{-webkit-transform: scale(0.1, 0.1); opacity: 0}
	50%{opacity: 1}
	100%{-webkit-transform: scale(1.5, 1.5); opacity: 0}	
}
@-moz-keyframes spulsate{
	0%{-moz-transform: scale(0.1, 0.1); opacity: 0}
	50%{opacity: 1}
	100%{-moz-transform: scale(1.5, 1.5); opacity: 0}
}
@-o-keyframes spulsate{
	0%{-o-transform: scale(0.1, 0.1); opacity: 0}
	50%{opacity: 1}
	100%{-o-transform: scale(1.5, 1.5); opacity: 0}
}
@keyframes spulsate{
	0%{transform: scale(0.1, 0.1); opacity: 0}
	50%{opacity: 1}
	100%{transform: scale(1.5, 1.5); opacity: 0}
}

.audiojs{display: none !important}

.audiojs {
	width: 460px;
	height: 36px;
	background: #404040;
	overflow: hidden;
	font-family: monospace;
	font-size: 12px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
	background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.audiojs .play-pause {
	width: 25px;
	height: 40px;
	padding: 4px 6px;
	margin: 0px;
	float: left;
	overflow: hidden;
	border-right: 1px solid #000;
}

.ball {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../skt-full-width/images/disko.gif') no-repeat;
	left: 50%;
	top: 0%;
	margin-left: -65px;

	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.disable {
	/*display: none !important;*/
	top: -70%;
}

.furniture {
	width: 500px;
	height: 500px;
	position: absolute;
	bottom: 5%;
	right: 2%;
}
.table {
	position: relative;
	width: 500px;
	height: 300px;
	top: 35%;
	background: url('../skt-full-width/images/table.png') no-repeat;
	background-size: cover;
}

.pc {
	width:300px;
	height: 250px;
	background: url('../skt-full-width/images/komp-do.png') no-repeat;
	background-size: cover;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

/*
.pc:hover {
	background: url('../skt-full-width/images/komp-posle.png') no-repeat;
	background-size: cover;
}
*/
.monitor {
	position: relative;
	top: -65%;
	vertical-align: middle;
	max-width: 100%;
	width: 295px;
	max-height: 100%;
	height: 195px;
	position: relative;
	background: url('../skt-full-width/images/winxp.jpg') no-repeat;
	background-size: cover;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;

	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-backface-visibility: hidden;
}

.monitor:hover {
	background: url('../skt-full-width/images/monitor.gif') no-repeat;
	background-size: cover;
	cursor: pointer;
}

.calendar {
	position: absolute;
	display: block;
	width: 200px;
	height: 200px;
	top: 20%;
	left: 25%;
	background: url('../skt-full-width/images/calendar.png') no-repeat;
	background-size: cover;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.calendar:hover {
	background: url('../skt-full-width/images/calendar-1.png') no-repeat;
	background-size: cover;
	cursor: pointer;
}

.zachetka {
	position: relative;
	width: 160px;
	height: 160px;
	top: -35%;
	left: 60%;
	background: url('../skt-full-width/images/zachetka.png') no-repeat;
	background-size: cover;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.zachetka:hover {
	background: url('../skt-full-width/images/zachetka-posle.gif') no-repeat;
	background-size: cover;
	cursor: pointer

}

#loading {
	position: fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-khtml-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-color: #591866;
	
}


.wrapper-1 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -250px;
	width: 500px;
	height: 500px;
}
.loader {
	border-radius: 150px;
	position: relative;
	background-color: white;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
}

.loader-text {
	position: relative;
	top: 55%;
	color: white;
	font-size: 150%;
	text-align: center;
}
.cat {
	background: url("../skt-full-width/images/cat.GIF");
	position: absolute;
	top: 50%;
	left: 50%;
	width: 220px;
	height: 175px;
	margin-left: -90px;
	margin-top: -85px;

}


.blog-post .wall_post_text {
	color: white;
}


.bubbles {
	position: absolute;
	width: 1040px !important;
	height: 500px !important;
	left: 10%;
}

.bubbles, .layer{
	display: block;
	padding: 0;
	margin: 0;
}


.layer{
	position: absolute;
	left: -30%;
}

.layer div{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Bubbles */
[class^="bubble-"]{}
[class^="bubble-"]:hover{}
[class^="bubble-"] h2{color: #FFF}
.bubble-menu{
	-webkit-transform: rotate(0deg); 
	   -moz-transform: rotate(0deg); 
	    -ms-transform: rotate(0deg); 
	     -o-transform: rotate(0deg); 
	        transform: rotate(0deg);
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	     -o-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	        transition: all .5s ease;
}
.bubble-menu.hover{
	opacity: .6;
	-webkit-transform: scale(.8); 
	   -moz-transform: scale(.8); 
	    -ms-transform: scale(.8);
	     -o-transform: scale(.8); 
	        transform: scale(.8);
}



.bubble-violet-large{width: 239px;height: 259px;left: 918px;top: 345px;}
.bubble-green-second{width: 86px; height: 86px; left: 1178px; top: 150px}
.bubble-green{width: 245px; height: 239px; left: 730px; top: 170px}
.bubble-blue{width: 179px; height: 181px; left: 570px; top: 310px}
.bubble-blue-second{width: 129px; height: 139px; left: 1165px; top: 260px}
.bubble-violet{width: 112px; height: 104px; left: 888px; top: 75px}
.bubble-red{width: 135px; height: 135px; left: 736px; top: 446px}
.bubble-red-second{width: 131px; height: 142px; left: 1190px; top: 418px}
.bubble-orange{width: 59px; height: 59px; left: 857px; top: 575px}
.bubble-orange-large{width: 176px; height: 176px; left: 990px; top: 140px}
.bubble-black{width: 131px; height: 142px; left: 635px; top: 65px}

.bubble-violet-large{background: url('../skt-full-width/images/bubbles/bubble_violet_large.png') no-repeat 100% 100%; background-size: cover; position: absolute}
.bubble-green-second{background: url('../skt-full-width/images/bubbles/bubble_green_second.png') no-repeat 100% 100%; background-size: cover; position: absolute}
.bubble-green{background: url('../skt-full-width/images/bubbles/bubble_green.png') no-repeat 100% 100%; background-size: cover; position: absolute}
.bubble-blue{background: url('../skt-full-width/images/bubbles/bubble_blue.png') no-repeat 100% 100%; background-size: cover; position: absolute}
.bubble-blue-second{background: url('../skt-full-width/images/bubbles/bubble_blue_second.png') no-repeat 100% 100%; background-size: cover; position: absolute}
.bubble-violet{background: url('../skt-full-width/images/bubbles/bubble_violet.png') no-repeat 100% 100%; background-size: cover; position: absolute}
.bubble-red{background: url('../skt-full-width/images/bubbles/bubble_red.png') no-repeat 100% 100%; background-size: cover; position: absolute}
.bubble-red-second{background: url('../skt-full-width/images/bubbles/bubble_red_second.png') no-repeat 100% 100%; background-size: cover; position: absolute}
.bubble-orange{background: url('../skt-full-width/images/bubbles/bubble_orange.png') no-repeat 100% 100%; background-size: cover; position: absolute}
.bubble-orange-large{background: url('../skt-full-width/images/bubbles/bubble_orange_large.png') no-repeat 100% 100%; background-size: cover; position: absolute}
.bubble-black{background: url('../skt-full-width/images/bubbles/bubble_black.png') no-repeat 100% 100%; background-size: cover; position: absolute}

.bubble-green h2{font-size: 350%; padding-top: 66%}
.bubble-blue-second h2{font-size: 230%; padding-top: 62%}
.bubble-violet-large h2{font-size: 350%; padding-top: 65%}
.bubble-red h2{font-size: 255%; padding-top: 60%}
.bubble-orange-large h2{font-size: 220%; padding-top: 65%}




/* WXGA */
@media (max-width: 1280px){
	body{width: 1280px; height: 800px}

	
	.avatar{width: 430px; height: 700px;}
	.furniture {width: 700px; height: 700px;}
	.monitor{width:420px; height: 280px;border-radius: 25px;}
	.pc{width:430px; height: 350px;}
	.zachetka{width: 220px; height: 220px;top: -35%;}
	.calendar{width: 350px; height: 350px;}
	.table {width: 700px;height: 420px;}
	.bubbles{width: 1280px !important; height: 800px !important}
	.bubble-green-second{width: 77px; height: 77px; left: 1045px; top: 132px}
	.bubble-green{width: 218px; height: 212px; left: 649px; top: 151px}
	.bubble-blue{width: 159px; height: 162px; left: 505px; top: 275px}
	.bubble-blue-second{width: 114px; height: 124px; left: 1035px; top: 232px}
	.bubble-violet{width: 102px; height: 94px; left: 788px; top: 65px}
	.bubble-violet-large{width: 212px; height: 231px; left: 818px; top: 308px}
	.bubble-red{width: 120px; height: 120px; left: 653px; top: 397px}
	.bubble-red-second{width: 116px; height: 125px; left: 1058px; top: 371px}
	.bubble-orange{width: 55px; height: 55px; left: 760px; top: 512px}
	.bubble-orange-large{width: 156px; height: 156px; left: 880px; top: 122px}
	.bubble-black{width: 117px; height: 127px; left: 562px; top: 60px}
	.stereo{width: 147px; height: 107px;}

}



/* WSXGA+ */
@media (min-width: 1441px) and (max-width: 1680px){
	body{width: 1680px; height: 1050px}

	
	.avatar{width: 430px; height: 700px;}
	.furniture {width: 700px; height: 700px;}
	.monitor{width:420px; height: 280px;border-radius: 25px;}
	.pc{width:430px; height: 350px;}
	.zachetka{width: 220px; height: 220px;top: -35%;}
	.calendar{width: 350px; height: 350px;}
	.table {width: 700px;height: 420px;}
	.bubbles{width: 1680px !important; height: 1050px !important}
	.bubble-green-second{width: 101px; height: 101px; left: 1375px; top: 176px}
	.bubble-green{width: 286px; height: 279px; left: 850px; top: 198px}
	.bubble-blue{width: 209px; height: 211px; left: 662px; top: 361px}
	.bubble-blue-second{width: 150px; height: 163px; left: 1360px; top: 305px}
	.bubble-violet{width: 131px; height: 121px; left: 1035px; top: 88px}
	.bubble-violet-large{width: 279px; height: 302px; left: 1074px; top: 405px}
	.bubble-red{width: 158px; height: 158px; left: 858px; top: 521px}
	.bubble-red-second{width: 153px; height: 165px; left: 1390px; top: 485px}
	.bubble-orange{width: 68px; height: 68px; left: 1000px; top: 670px}
	.bubble-orange-large{width: 204px; height: 205px; left: 1150px; top: 160px}
	.bubble-black{width: 152px; height: 165px; left: 740px; top: 75px}
	.stereo{width: 193px; height: 141px;}
	}

/* WUXGA */
@media (min-width: 1681px) and (max-width: 1920px){
	body{width: 1920px; height: 1200px; background-size: 100% 100%;}
	
	
	.avatar{width: 430px; height: 700px;}
	.furniture {width: 700px; height: 700px;}
	.monitor{width:430px; height: 280px;border-radius: 27px;top: -70%;}
	.pc{width:440px; height: 370px;}
	.zachetka{width: 220px; height: 220px;top: -35%;}
	.calendar{width: 350px; height: 350px;}
	.table {width: 700px;height: 420px;}
	.bubbles{width: 1920px !important; height: 1200px !important}
	.bubble-green-second{width: 114px; height: 115px; left: 1570px; top: 198px}
	.bubble-green{width: 326px; height: 318px; left: 973px; top: 225px}
	.bubble-blue{width: 239px; height: 241px; left: 757px; top: 415px}
	.bubble-blue-second{width: 171px; height: 185px; left: 1554px; top: 350px}
	.bubble-violet{width: 149px; height: 138px; left: 1184px; top: 98px}
	.bubble-violet-large{width: 318px; height: 345px; left: 1227px; top: 461px}
	.bubble-red{width: 180px; height: 180px; left: 980px; top: 595px}
	.bubble-red-second{width: 174px; height: 189px; left: 1585px; top: 554px}
	.bubble-orange{width: 78px; height: 78px; left: 1142px; top: 766px}
	.bubble-orange-large{width: 233px; height: 233px; left: 1320px; top: 186px}
	.bubble-black{width: 174px; height: 189px; left: 847px; top: 85px}
	.stereo{width: 219px; height: 160px;}
	
}

/* WQXGA */
@media (min-width: 1921px) and (max-width: 2560px){
	body{width: 2560px; height: 1600px}

	
	.avatar{width: 430px; height: 700px;}
	.furniture {width: 700px; height: 700px;}
	.monitor{width:420px; height: 280px;border-radius: 25px;}
	.pc{width:430px; height: 350px;}
	.zachetka{width: 220px; height: 220px;top: -35%;}
	.calendar{width: 350px; height: 350px;}
	.table {width: 700px;height: 420px;}
	.bubbles{width: 2560px !important; height: 1600px !important}
	.bubble-green-second{width: 152px; height: 153px; left: 2095px; top: 265px}
	.bubble-green{width: 434px; height: 424px; left: 1300px; top: 300px}
	.bubble-blue{width: 316px; height: 321px; left: 1008px; top: 552px}
	.bubble-blue-second{width: 227px; height: 247px; left: 2072px; top: 462px}
	.bubble-violet{width: 199px; height: 184px; left: 1578px; top: 130px}
	.bubble-violet-large{width: 424px; height: 460px; left: 1640px; top: 620px}
	.bubble-red{width: 240px; height: 239px; left: 1308px; top: 792px}
	.bubble-red-second{width: 232px; height: 251px; left: 2115px; top: 741px}
	.bubble-orange{width: 104px; height: 103px; left: 1525px; top: 1025px}
	.bubble-orange-large{width: 311px; height: 311px; left: 1760px; top: 244px}
	.bubble-black{width: 232px; height: 251px; left: 1128px; top: 115px}
	.stereo{width: 294px; height: 215px;}

}

/* Mobile */

@media (min-width: 240px) and (max-width: 479px){
	body{width: 320px; height: 800px;}

	.loader-text{font-size: 300%;}	
	.cat {background: url("../skt-full-width/images/cat-mobile.png");}
	.calendar, .furniture, .ball{display: none !important;}
	.avatar{width: 240px; height: 400px;left:50%; bottom:3%;}
	.bubbles{width: 320px !important; height: 800px !important;}
	.bubble-green{width: 234px; height: 224px; left: 330px; top: 20px}
	.bubble-blue{width: 116px; height: 121px; left: 240px; top: 240px}
	.bubble-blue-second{width: 137px; height: 147px; left: 640px; top: 230px}
	.bubble-violet{width: 99px; height: 94px; left: 570px; top: 40px}
	.bubble-violet-large{width: 234px; height: 260px; left: 240px; top: 400px;}
	.bubble-red{width: 140px; height: 139px; left: 458px; top: 292px}
	.bubble-red-second{width: 152px; height: 151px; left: 600px; top: 400px}
	.bubble-orange{width: 54px; height: 53px; left: 550px; top: 550px}
	.bubble-orange-large{width: 111px; height: 111px; left: 660px; top: 100px}
	.bubble-black{width: 62px; height: 63px; left: 250px; top: 35px}
	.stereo{display: none !important;}
	
}


@media (min-width: 479px) and (max-width: 720px){
	body{width: 720px; height: 1280px;}

	.loader-text{font-size: 300%;}
	.cat {background: url("../skt-full-width/images/cat-mobile.png");}
	.calendar, .furniture, .ball{display: none !important;}
	.avatar{width: 520px; height: 840px;left:50%; bottom:13%;margin-left: -220px;}
	.bubbles{width: 480px !important; height: 800px !important;}
	.bubble-green{width: 434px; height: 424px; left: 320px; top: 420px}
	.bubble-blue{width: 316px; height: 321px; left: 15px; top: 670px}
	.bubble-blue-second{width: 227px; height: 247px; left: 800px; top: 650px}
	.bubble-violet{width: 199px; height: 184px; left: 550px; top: 140px}
	.bubble-violet-large{width: 424px; height: 460px; left: 100px; top: 1000px;}
	.bubble-red{width: 240px; height: 239px; left: 508px; top: 892px}
	.bubble-red-second{width: 232px; height: 251px; left: 700px; top: 1150px}
	.bubble-orange{width: 104px; height: 103px; left: 900px; top: 1025px}
	.bubble-orange-large{width: 311px; height: 311px; left: 700px; top: 250px}
	.bubble-black{width: 232px; height: 251px; left: 300px; top: 115px}
	.stereo{width: 294px; height: 215px;left: 5%;bottom: 2%;}
	
}

@media (min-width: 721px) and (max-width: 1080px){
	body{width: 1080px; height: 1920px;}

	.cat {background: url("../skt-full-width/images/cat-mobile.png");}
	.loader-text{font-size: 300%;}
	.calendar, .furniture, .ball{display: none !important;}
	.avatar{width: 480px; height: 800px;left:50%; bottom:13%;margin-left: -200px;}
	.bubbles{width: 480px !important; height: 800px !important;}
	.bubble-green{width: 434px; height: 424px; left: 320px; top: 420px}
	.bubble-blue{width: 316px; height: 321px; left: 15px; top: 670px}
	.bubble-blue-second{width: 227px; height: 247px; left: 800px; top: 650px}
	.bubble-violet{width: 199px; height: 184px; left: 550px; top: 140px}
	.bubble-violet-large{width: 424px; height: 460px; left: 100px; top: 1000px;}
	.bubble-red{width: 240px; height: 239px; left: 508px; top: 892px}
	.bubble-red-second{width: 232px; height: 251px; left: 700px; top: 1150px}
	.bubble-orange{width: 104px; height: 103px; left: 900px; top: 1025px}
	.bubble-orange-large{width: 311px; height: 311px; left: 700px; top: 250px}
	.bubble-black{width: 232px; height: 251px; left: 300px; top: 115px}
	.stereo{width: 294px; height: 215px;left: 5%;}
	
}




/*горизонтальное положение*/
@media (min-width: 721px) and (max-width: 1080px) and (max-height: 520px){
	body{width: 1080px; height: 520;}

	.cat {background: url("../skt-full-width/images/cat-mobile.png");}
	.loader-text{font-size: 300%;}
	.calendar, .furniture, .ball{display: none !important;}
	.avatar{width: 300px; height: 500px;left:50%; bottom:2%;margin-left: -100px;}
	.bubbles{width: 1080px !important; height: 520px !important;}

	.bubble-blue,.bubble-violet,.bubble-red-second,.bubble-orange,.bubble-black {display: none !important;}

	.bubble-green{width: 240px; height: 234px; left: 650px; top: 30px}
	.bubble-blue-second{width: 157px; height: 168px; left: 960px; top: 170px}
	.bubble-violet-large{width: 244px; height: 260px; left: 750px; top: 250px;}
	.bubble-red{width: 140px; height: 139px; left: 1058px; top: 322px}
	.bubble-orange-large{width: 161px; height: 161px; left: 1030px; top: 10px}
	.stereo{width: 210px; height: 150px;left: 75%; bottom:2%;}
}  

@media (min-width: 479px) and (max-width: 720px) and (max-height: 480px){
	body{width: 720px; height: 480px;}


	.cat {background: url("../skt-full-width/images/cat-mobile.png");}

	.loader-text{font-size: 300%;}
	.calendar, .furniture, .ball{display: none !important;}
	.avatar{width: 300px; height: 500px;left:50%; bottom:2%;margin-left: -100px;}
	.bubbles{width: 1080px !important; height: 520px !important;}

	.bubble-blue,.bubble-violet,.bubble-red-second,.bubble-orange,.bubble-black {display: none !important;}

	.bubble-green{width: 240px; height: 234px; left: 650px; top: 30px}
	.bubble-blue-second{width: 157px; height: 168px; left: 960px; top: 170px}
	.bubble-violet-large{width: 244px; height: 260px; left: 750px; top: 250px;}
	.bubble-red{width: 140px; height: 139px; left: 1058px; top: 322px}
	.bubble-orange-large{width: 161px; height: 161px; left: 1030px; top: 10px}
	.stereo{width: 210px; height: 150px;left: 75%; bottom:2%;}
	
}